button{
  width:45px;
  height:45px;
  margin:3px;
  font-size:18px;
  border:none;
  border-radius:5px;
  background-color:#444;
  color:white;
  cursor:pointer;
}
button:hover{
  background:#666;
}
.Calculater{
  margin-top:51px;
   margin-left:80px;
   background-color:white;
   width:220px;
   height:338px;
  padding:10px;
  background: #222;
  border-radius:10px;
  box-shadow: 0 0 10px #000;
}

.display {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 20px;
}

